.header {
    padding: 50px 25px;
    background-color: #363636;
}

.header-logo {
    margin-left: 45px;
}

.header-cart {
    background-color: #d58e32;
    color: white;
    padding: 11px;
    border-radius: 5px;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 47px;
    position: relative;
}
.header-cart-purchase-number {
    background-color: #363636;
    width: 25px;
    height: 26px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: 14px;
}

#modal-cart-full .container {
    width: 100%;
    margin: 0 auto;
}

#modal-cart-full{
    top: 207px;
}

.modal-cart-full-center {
    padding: 15px;
    border: 1px solid #dbdbdb;    
}

.modal-cart-full-price-box {
    display: inline;
    padding: 5px 10px;
}

.modal-cart-quantity-text {
    font-size: 13px;
    font-weight: bold;
}

.modal-cart-quantity {
    font-size: 11px;
    padding: 5px 30px;
    font-weight: bold;
}

.modal-cart-minus{
    font-size: 11px;
    padding: 5px 15px;
}

.modal-cart-plus {
    border: 1px solid #d58e32;
    color: #d58e32;
    font-size: 11px;
    padding: 5px 15px;
}
.purchase-name {
    line-height: 1.6;
}
.btn-modal-continue {
    font-size: 12px;
    padding: 5px 30px;
}

.fa-angle-right {
    font-size: 18px;
    margin-right: 5px;
}

.btn-buy-now {
    background-color: #d58e32;
    font-size: 12px;
    padding: 5px 20px;
    margin-left: 94px;
}
.fa-angle-right {
    font-size: 18px;
    margin-right: 5px;
}

.btn-buy-now>.fa-shopping-basket {
    font-size: 18px;
    margin-right: 5px;
}
#modal-cart-empty {
    top: 206px;
    right: 0;
}