.navbar {
    font-size: 13px;
    border-top: 4px solid #c2c2c2;
    background-color: #434343;
    position: relative;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;

}

.nav-usd {
    margin-left: 26px;
}

.nav-help {
    margin-right: 60px;
}

.nav-login::before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}

.nav-register::before {
    content: "\f023";
    font-family: FontAwesome;
    font-size: 11px;
    margin-right: 8px;
}
.modal-window {
    padding: 30px 15px 20px 15px;
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 2;
}
/* #modal-register.modal-window {    
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 3;
} */
.fa-window-close {
    font-size: 28px;
    position: absolute;
    top: -1px;
    right: 0;
}

.btn-modal-submit {
    font-size: 11px;
    font-weight: bold;
    padding: 10px 38px;
}