.basic-page {
    /* max-width: 480px; */
    /* font-family: 'Open sans'; */
    font-family: "Poppins";
}
 .container {
    width: 90%;
    margin: 0 auto;
} 

 .hidden {
    display: none;
} 

.link-underlined {
    cursor: pointer;
}

.link-underlined:hover {
    text-decoration: underline;
}


