<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <a href="#" class="mb-0 text-white text-center header-phone-number link-underlined">2300 - 3560 -
                222</a>
            <img class=" header-logo" src="480px/header_logo.png" alt="Bazar-logo">
            <a href="#" class="header-cart"><i class="fas fa-shopping-basket"></i>
                <div class="header-cart-purchase-number">0</div>
            </a>
        </div>


        <div id="modal-cart-full" class="bg-white hidden modal-window">
            <div class="container">
                <i class="fas fa-window-close"></i>

                <div class="modal-cart-full-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid float-right" src="../img/480px/cart-modal.png"
                                    alt="Purchase">
                            </div>
                            <div class="col">
                                <p class="h4 font-weight-bold purchase-name">Sunbaby Magic Chair</p>
                                <p class="text-secondary text-muted mb-1 old-price"><s>$350.00</s></p>
                                <p class="bg-dark text-white font-weight-bold h6 modal-cart-full-price-box">
                                    $250.00
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col p-0">
                                <p class="modal-cart-quantity-text">Quantity:</p>
                                <div class="d-inline border border-dark modal-cart-quantity">2</div>
                                <div class="px-2 d-inline border border-dark modal-cart-minus"><i
                                        class="fas fa-minus"></i></div>
                                <div class="px-2 d-inline modal-cart-plus"><i class="fas fa-plus"></i></div>
                            </div>
                            <div class="col">
                                <p class="text-secondary text-muted text-center">Sum</p>
                                <p class="font-weight-bold text-center">$250.00</p>
                            </div>
                        </div>
                    </div>  
                </div>
                <p class="h5 text-right font-weight-bold mt-3" id="modal-cart-total-sum">Total: $1000</p>
            </div>

        </div>
    </div>


</div>
</header>