<section class="our-features pt-5">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-6 col-md-4 col-xl-2 mx-2 mx-xl-3 my-4 pt-2 text-center border our-features-card">
                <div class="d-inline-block our-features-ico">
                    <div class="ico-second-round-border">
                        <div class="border border-muted text-center rounded-circle our-features-card-ico">
                            <i class="fas fa-truck"></i></div>
                    </div>
                </div>
                <h5 class="text-uppercase mt-4 our-features-title">free shipping</h5>
                <p class="text-uppercase our-features-text">all order</p>
            </div>

            <div class="col-6 col-md-4 col-xl-2 mx-2 mx-xl-3 my-4 pt-2 text-center border our-features-card">
                <div class="d-inline-block our-features-ico">
                    <div class="ico-second-round-border">
                        <div class="border border-muted text-center rounded-circle our-features-card-ico">
                            <i class="fas fa-headphones"></i></div>
                    </div>
                </div>
                <h5 class="text-uppercase mt-4 our-features-title">24/7 customer</h5>
                <p class="text-uppercase our-features-text">support</p>
            </div>

            <div class="col-6 col-md-4 col-xl-2 mx-2 mx-xl-3 my-4 pt-2 text-center border our-features-card">
                <div class="d-inline-block our-features-ico">
                    <div class="ico-second-round-border">
                        <div class="border border-muted text-center rounded-circle our-features-card-ico">
                            <i class="fas fa-reply-all"></i></div>
                    </div>
                </div>
                <h5 class="text-uppercase mt-4 our-features-title">money back</h5>
                <p class="text-uppercase our-features-text">guarantee</p>
            </div>

            <div class="col-6 col-md-4 col-xl-2 mx-2 mx-xl-3 my-4 pt-2 text-center border our-features-card">
                <div class="d-inline-block our-features-ico">
                    <div class="ico-second-round-border">
                        <div class="border border-muted text-center rounded-circle our-features-card-ico">
                            <i class="fas fa-bullhorn"></i></div>
                    </div>
                </div>
                <h5 class="text-uppercase mt-4 our-features-title">member discount</h5>
                <p class="text-uppercase our-features-text">first order</p>
            </div>





        </div>



    </div>
</section>