<section class="top-menu">
     <div class="container">
         <div class="row pt-3 align-items-center">
             <div class="col">
                 <input type="text" class="form-control mb-3 rounded-0" id="top-menu-search"
                     placeholder="Search products...">
                 <i class="fas fa-search"></i>
             </div>
             <div class="col">
                 <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <i
                             class="fas fa-bars"></i>
                         <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                         <li><a href="#">HTML</a></li>
                         <li><a href="#">CSS</a></li>
                         <li><a href="#">JavaScript</a></li>
                     </ul>
                 </div>


             </div>
         </div>


     </div>
 </section>