
        <section class="top-menu">
            <div class="container">
                <div class="row pt-3 align-items-center">
                    <div class="col">
                        <input type="text" class="form-control mb-3 rounded-0" id="top-menu-search"
                            placeholder="Search products...">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="col">

                        <div class="top-menu-dropdown">
                            <div class="top-menu-dropdown-item dropdown">
                                <a href="#" class="top-menu-dropdown-link dropdown-toggle" data-toggle="dropdown"><i
                                        class="fas fa-bars"></i></a>
                                <ul class="dropdown-menu bg-dark text-right">
                                    <li><a href="#" class="dropdown-item py-2"> <i class="fas fa-times"></i></a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">home</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">slider</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">features</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">stocks</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">product</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">gallery</a></li>
                                    <li><a href="#" class="dropdown-item text-uppercase py-2">blog</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </section>